body {
    background-image: url("img/bg.jpg");
    background-size: cover;
    font: 100 19px B yekan;
}

.face:after {
    border-bottom: 20px solid lightskyblue;
    border-radius: 50%;
    content: "";
    display: block;
    height: 281px;
    transform: rotate(-70deg);
}

.face {
    background: none repeat scroll 0px 0px #ff7133;
    border-radius: 50%;
    height: 300px;
    margin: 180px auto;
    position: relative;
    width: 300px;
}

.eye {
    background: none repeat scroll 0px 0px white;
    border-radius: 50%;
    height: 30px;
    margin: 0px 0px 0px -15px;
    position: absolute;
    top: 80px;
    width: 30px;
}

.left {
    left: 120px;
}

.right {
    right: 120px;
}

.mouth {
    height: 50px;
    overflow: hidden;
    position: absolute;
    width: 200px;
}

.face:after {
    border-bottom: 20px solid lightskyblue;
    border-radius: 50%;
    content: "";
    display: none;
    height: 281px;
    position: absolute;
    right: 0px;
    top: 0px;
    transform: rotate(-70deg);
    width: 100%;
    z-index: 999999999;
}

.face {
    background: none repeat scroll 0px 0px #00a0ff;
    border-radius: 50%;
    height: 300px;
    margin: 0px auto;
    position: relative;
    width: 300px;
    z-index: 55;
}

.eye {
    animation: 10000ms ease-in 0s normal none infinite running eyes;
    -webkit-animation: 10000ms ease-in 0s normal none infinite running eyes;
    background: none repeat scroll 0px 0px white;
    border-radius: 50%;
    height: 30px;
    margin: 0px 0px 0px -15px;
    position: absolute;
    top: 80px;
    width: 30px;
}

.left {
    left: 120px;
}

.left:before {
    animation: 10000ms linear 0s normal none infinite running abro1;
    -webkit-animation: 10000ms linear 0s normal none infinite running abro1;
    background: none repeat scroll 0px 0px black;
    content: "";
    display: block;
    height: 20px;
    left: -25px;
    position: absolute;
    top: -10px;
    transform: rotate(0deg);
    width: 60px;
}

.right:before {
    animation: 10000ms linear 0s normal none infinite running abro2;
    -webkit-animation: 10000ms linear 0s normal none infinite running abro2;
    background: none repeat scroll 0px 0px black;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    right: -25px;
    top: -10px;
    transform: rotate(0deg);
    width: 60px;
}

.right {
    right: 120px;
}

.mouth {
    animation: 10s linear 0s normal none infinite running mouth;
    -webkit-animation: 10s linear 0s normal none infinite running mouth;
    border-left: 20px solid;
    border-radius: 50% 50% 0px 0px;
    border-right: 20px solid;
    border-top: 30px solid;
    bottom: 68px;
    height: 68px;
    left: 50%;
    margin-left: -90px;
    overflow: hidden;
    position: absolute;
    width: 140px;
}

@keyframes mouth {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    40% { transform: rotate(5deg); }
    45% { transform: rotate(0deg); }
    60% { transform: rotate(0deg); }
    65% { transform: rotate(-5deg); }
    70% { transform: rotate(-5deg); }
    80% { transform: rotate(-5deg); }
    90% { transform: rotate(0deg); }
}

@-webkit-keyframes mouth {
    0% { -webkit-transform: rotate(0deg); }
    10% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(5deg); }
    40% { -webkit-transform: rotate(5deg); }
    45% { -webkit-transform: rotate(0deg); }
    60% { -webkit-transform: rotate(0deg); }
    65% { -webkit-transform: rotate(-5deg); }
    70% { -webkit-transform: rotate(-5deg); }
    80% { -webkit-transform: rotate(-5deg); }
    90% { -webkit-transform: rotate(0deg); }
}

@keyframes eyes {
     0% { height: 30px; }
     10.5% { height: 30px; }
     11% { height: 0px; }
     11.5% { height: 30px; }
     100% { height: 30px; }
 }
@-webkit-keyframes eyes {
    0% { height: 30px; }
    10.5% { height: 30px; }
    11% { height: 0px; }
    11.5% { height: 30px; }
    100% { height: 30px; }
}
.face .wrapf {
    animation: 10000ms linear 0s normal none infinite running look;
    -webkit-animation: 10000ms linear 0s normal none infinite running look;
}

.wrapf {
    background-image: radial-gradient(#38e5e5, rgba(255, 255, 255, 0) 72%);
    height: 100%;
    position: relative;
    width: 100%;
    z-index: -1;
}

span.khal {
    background: none repeat scroll 0px 0px black;
    border-radius: 50%;
    display: block;
    height: 10px;
    left: 190px;
    position: absolute;
    top: 120px;
    width: 10px;
}

@keyframes look {
    0% { transform: rotateY(0deg) translateX(0px); }
    10% { transform: rotateY(20deg) translateX(20px); }
    20% { transform: rotateY(20deg) translateX(20px); }
    30% { transform: rotateY(0deg) translateX(0px); }
    35% { transform: translateX(0px); }
    45% { transform: translateX(0px); }
    55% { transform: rotateY(-20deg) translateX(-20px); }
    90% { transform: rotateY(-20deg) translateX(-20px); }
    95% { transform: rotateY(0deg) translateX(-10px); }
}
@-webkit-keyframes look {
    0% { -webkit-transform: rotateY(0deg) translateX(0px); }
    10% { -webkit-transform: rotateY(20deg) translateX(20px); }
    20% { -webkit-transform: rotateY(20deg) translateX(20px); }
    30% { -webkit-transform: rotateY(0deg) translateX(0px); }
    35% { -webkit-transform: translateX(0px); }
    45% { -webkit-transform: translateX(0px); }
    55% { -webkit-transform: rotateY(-20deg) translateX(-20px); }
    90% { -webkit-transform: rotateY(-20deg) translateX(-20px); }
    95% { -webkit-transform: rotateY(0deg) translateX(-10px); }
}
@keyframes abro1 {
    0% { top: -10px; transform: rotate(0deg); }
    35% { top: -10px; transform: rotate(0deg); }
    40% { top: -10px; transform: rotate(10deg); }
    60% { top: -10px; transform: rotate(10deg); }
    65% { top: -20px; transform: rotate(10deg); }
    80% { top: -20px; transform: rotate(10deg); }
    85% { top: -10px; transform: rotate(10deg); }
    95% { top: -10px; transform: rotate(0deg); }
}
@-webkit-keyframes abro1 {
    0% { top: -10px; -webkit-transform: rotate(0deg); }
    35% { top: -10px; -webkit-transform: rotate(0deg); }
    40% { top: -10px; -webkit-transform: rotate(10deg); }
    60% { top: -10px; -webkit-transform: rotate(10deg); }
    65% { top: -20px; -webkit-transform: rotate(10deg); }
    80% { top: -20px; -webkit-transform: rotate(10deg); }
    85% { top: -10px; -webkit-transform: rotate(10deg); }
    95% { top: -10px; -webkit-transform: rotate(0deg); }
}

@keyframes abro2 {
    0% { transform: rotate(0deg); }
    5% { transform: rotate(0deg); }
    10% { top: -20px; transform: rotate(0deg); }
    30% { top: -20px; transform: rotate(0deg); }
    35% { top: -10px; transform: rotate(0deg); }
    40% { top: -10px; transform: rotate(-10deg); }
    60% { top: -10px; transform: rotate(-10deg); }
}
@-webkit-keyframes abro2 {
    0% { -webkit-transform: rotate(0deg); }
    5% { -webkit-transform: rotate(0deg); }
    10% { top: -20px; -webkit-transform: rotate(0deg); }
    30% { top: -20px; -webkit-transform: rotate(0deg); }
    35% { top: -10px; -webkit-transform: rotate(0deg); }
    40% { top: -10px; -webkit-transform: rotate(-10deg); }
    60% { top: -10px; -webkit-transform: rotate(-10deg); }
}

.wrap {
    background-image: radial-gradient(rgba(56, 229, 229, 0.66), rgba(255, 255, 255, 0) 72%);
    height: 100%;
    margin: 0px auto;
    max-width: 960px;
    position: relative;
    z-index: 5;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 500px;
}

input[type="text"] {
    background: none repeat scroll 0px 0px rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    border: 1px solid #a6cdcd;
    color: #3f3f3f;
    direction: rtl;
    font: 100 19px/38px B Yekan;
    margin: 20px 0px 0px;
    padding: 2px 15px;
}

button {
    background: none repeat scroll 0px 0px transparent;
    border-radius: 8px;
    border: 1px solid #507369;
    color: #103329;
    cursor: pointer;
    font: 100 19px B yekan;
    margin: 20px auto 0px;
    padding: 5px 0px;
    width: 270px;
}

.ans {
    background: none repeat scroll 0px 0px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    direction: rtl;
    left: 50%;
    margin: 0px 0px 0px -125px;
    padding: 20px;
    position: absolute;
    top: 100px;
    transition: all 500ms ease 0s;
    width: 210px;
    z-index: -1;
}

.show-ans {
    left: 190px;
    top: 20px;
    z-index: -1;
}

.ans:before {
    border-bottom: 10px solid transparent;
    border-left: 16px solid rgba(255, 255, 255, 0.5);
    border-top: 10px solid transparent;
    content: "";
    display: block;
    position: absolute;
    right: -16px;
    top: 13px;
}
.main {
    padding: 2px;
}
